
<% content_for :body do %>
  <div class="center hero-unit">
  <h1>Bienvenido</h1>

  <h2>
    En esta pagina podra consultar los datos del representante de su pais y las zonas seguras a evacuar en caso de sismos
  </h2>

  <%= link_to "Consultar Representante", usuariolist_path(@usuario), class: "btn btn-large btn-primary" %>
</div>

<% end %>



