<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Todos los derechos reservados</a>
    by 3XP
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   '#' %></li>
      <li><%= link_to "Contacto", '#' %></li>
      <li><a href="http://news.railstutorial.org/">Noticias</a></li>
    </ul>
  </nav>
</footer>